<div id='main-content' class='row full-height'>
    <!-- Sidebar -->
    <div class='col-sm-3'>
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Sidebar
                </a>
            </li>
            <li ng-repeat='post in posts'>
                <a href="#">{{post.title}}</a>
            </li>
        </ul>
    </div>
    <!-- /Sidebar -->

    <!-- Page Content -->
    <div class='col-sm-9 full-height'>
      
    </div>
</div>