<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>404 - Page not found</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<div class='text-center jumbotron'>
	<h1>404</h1>
	<p>You are making things up</p>
</div>
</body>
</html>